.sentence-block {
	width: 100%;
}

.sentence-block-title {
	font-size: 1.3em;
}

.sentence-block-translation {
	color: lightgray;
	margin-top: 10px;
}

.show-spelling {
	line-height: 2.0em;
}

.show-spelling .sentence-spelling {
	position: relative;
	white-space: nowrap;
}

.show-spelling .sentence-spelling::before {
	content: attr(data-spelling);
	color: gray;
	font-size: 0.6em;
	position: absolute;

	margin: auto;
	margin-top: -1.30em;
	left: 50%;
	transform: translate(-50%);
	white-space: nowrap;
	pointer-events: none;
}

.sentence-block-translation .ant-typography-edit-content {
	left: 0px !important;
}

.sentence-word-fragment {
	border-bottom: black;
}
