.word-form > * + * {
	margin-bottom: 0.5rem;
}
.word-form-key {
	font-size: 2em;
}

.key-autocomplete input {
	color: black !important;
}

.key {
	grid-area: key;
}

.word-root-form .ant-divider {
	margin: 10px 0px;
}

.form-error-label {
	color: red;
}