.dialog-block > div {
	display: flex;
}

.dialog-block > div > span:first-of-type {
	flex: 1;
	text-align: right;
	padding-right: 1.2em;
	align-self: center;
}

.dialog-block > div > div:first-of-type {
	flex: 5;
}
