.entry-with-edit-container {
	position: relative;
}

.entry-with-edit-controlls-top {
	position: absolute;
	top: 0px;
	right: 0px;
}

.entry-with-edit-controlls-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;
}
