.toolbar {
	width: 100%;
	margin: auto;
	display: flex;
	top: 0px;
	z-index: 20;
	position: sticky;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-bottom: 2px solid #dddddd;
	background: #fff;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.toolbar svg {
	vertical-align: baseline;
}

.toolbar button {
	transition: none;
	border: none !important;
}

.button-active {
	color: #388ae5;
}

.button-active svg {
	fill: currentColor;
	vertical-align: middle;
	max-height: 100%;
}

.toolbar-dropdown-title > span {
	text-align: left;
	font-size: 0.9em;
	font-weight: 800;
	color: rgb(75, 75, 75);
	margin-left: 10px;
	margin-right: 10px;
}

.toolbar-color-picker {
	background: transparent;
	width: 241px;
	padding-bottom: 6px;
}
