.saving-indicator-container > *:first-child {
	margin-right: 10px;
}

.saving-indicator-container {
	color: #112233;
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: flex;
	z-index: 10;
	align-items: center;
	justify-content: baseline;
	background-color: #e0e9f0;
	border: 1px solid #495664;
	border-radius: 5px;
	padding: 10px;
}
