.divider-container-vertical {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 20px;
}

.divider-container-horizontal {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	height: 10px;
}

.divider-general {
	position: relative;
	top: -0.06em;
	display: inline-block;
	margin: 0 8px;
	vertical-align: middle;
}

.divider-vertical {
	border-top: 0;
	border-left: 1px solid white;
	width: 2px;
	height: 50%;
}

.divider-vertical-active {
	border-top: 0;
	border: 0px solid #40a9ff40;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 20%,
		rgba(64, 169, 255, 0.3) 50%,
		rgba(255, 255, 255, 0) 80%
	);
	border-radius: 2px;
	width: 2px;
	height: 100%;
}

.divider-vertical-over {
	border-top: 0;
	border: 1px solid #40a9ff;
	border-radius: 10px;
	width: 2px;
	height: 50%;
}

.divider-horizontal {
	border: 1px solid white;
	width: 50%;
	height: 2px;
}

.divider-horizontal-active {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 20%,
		rgba(64, 169, 255, 0.3) 50%,
		rgba(255, 255, 255, 0) 80%
	);
	width: 50%;
	height: 2px;
}

.divider-horizontal-over {
	border: 1px solid #40a9ff;
	width: 50%;
	height: 2px;
}
