.settings-popover {
	width: 200px;
	background-color: white;
	border-radius: 2px;
	padding: 5px;
}

.settings-language {
	display: flex;
	align-items: center;
	gap: 5px;
}

.settings-language-select {
	flex: 1;
}
