.tag-input-form-container {
	position: relative;
}

.tag-input-form-container .ant-form-item {
	margin-bottom: 6px;
}

.tag-input-form-container .ant-form-item-label {
	padding: 0 0 4px;
}

.removable-constructor {
	display: flex;
	align-items: center;
}

.removable-constructor > :first-child {
	width: 90%;
}

.removable-constructor > :nth-child(2) {
	width: 10%;
	padding-bottom: 5px;
}

.single-constructor > :first-child {
	width: 100%;
}
