.block-menu {
	position: absolute;
	margin-left: auto;
	right: 5px;
	top: 5px;
	z-index: 10;
}

.block-container {
	border-radius: 5px;
	padding: 5px;
	height: 100%;
	position: relative;
}

.block-container:hover {
	background-color: rgb(248, 253, 255);
}

.icon-highlight > svg {
	fill: rgb(0, 0, 0) !important;
}

.blue-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #40a9ff10;
}

.grey-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(233, 233, 233, 0.421);
	z-index: 10;
}
