.source-sub-form {
	display: flex;
	margin-bottom: 8px;
	align-items: baseline;
	gap: 12px;
}

.lu-description {
	color: rgb(155, 155, 155);
}

.input-grow {
	flex-grow: 1;
}

.lu-title {
	display: flex;
	align-items: baseline;
}

.lu-title > * {
	margin-right: 5px;
}

.lu-add {
	margin-bottom: 10px;
}
