.image-block-container {
	width: 100%;
}

.flow-left {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.flow-left > span {
	margin-left: 20px;
}

.flow-right {
	display: flex;
	align-content: center;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.flow-right > span {
	margin-right: 20px;
}

.flow-down {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.flow-down > span {
	margin-top: 20px;
}

.image-handle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	user-select: none;
	height: 100%;
	width: 25px;
	margin-right: -0.75rem;
	padding-right: 0.75rem;
	cursor: col-resize;
}

.image-handle::after {
	display: flex;
	background-color: rgb(156, 163, 175);
	content: ' ';
	width: 3px;
	height: 64px;
	border-radius: 6px;
	opacity: 0%;
}

.resize-group:active .image-handle::after,
.resize-group:hover .image-handle::after,
.resize-group:focus .image-handle::after {
	opacity: 100%;
	background-color: rgb(156, 163, 255);
}
